<html>

<head>
    <title>Notifications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="shortcut icon" href="images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="DatePickerX-master/dist/css/DatePickerX.css">
</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo"><strong>FabCab</strong> </a>

            <nav id="nav">
                <a href="#">
                    <div class="dropdown">
                        <div class="dropbtn">Smriti</div>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="bookings.html">Bookings</a>
                            <a href="offeredrides.html">Offered Rides</a>
                            <a href="changepassword.html">Change Password</a>
                            <hr>
                            <a href="index.html">Sign out</a>
                        </div>
                    </div>
                </a>
                <a href="index.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
                <a href="offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i> Offer a Ride</a>
                <span><span class="badge" style="background-color:red; position: absolute;
                          bottom:58%;
                          left: 99%;
                          z-index: 10;}">4</span></span>
                <a href="notifications.html" class="glyphicon glyphicon-bell" style="font-family: 'Glyphicons Halflings'!important;"></a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <section id="banner3" style="padding-top: 4em; padding-left: 1em;">
        <div>
            <span><strong>Your Notifications</strong></span>
        </div>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><strong>Imran Khan </strong> recently offered a ride on <strong>23 Oct, 2018</strong> from <strong>IIIT Hyderabad </strong>to <strong> Rajiv Gandhi International Airport</strong> at Rs. 400</td>
                </tr>
                <tr>
                    <td><strong>Imran Khan </strong> recently offered a ride on <strong>23 Oct, 2018</strong> from <strong>IIIT Hyderabad </strong>to <strong> Rajiv Gandhi International Airport</strong> at Rs. 400</td>
                </tr>
                <tr>
                    <td><strong>Imran Khan </strong> recently offered a ride on <strong>23 Oct, 2018</strong> from <strong>IIIT Hyderabad </strong>to <strong> Rajiv Gandhi International Airport</strong> at Rs. 400</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>