<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../../images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../../DatePickerX-master/dist/css/DatePickerX.css">
</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="../../../index.html" class="logo"><strong>FabCab</strong> </a>

            <nav id="nav">
                <a href="#">
                    <div class="dropdown">
                        <div class="dropbtn" id="inofferedrides"></div>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="bookings.html">Bookings</a>
                            <a href="offeredrides.html">Offered Rides</a>
                            <a href="../Login/changepassword.html">Change Password</a>
                            <hr>
                            <a href="../../../index.html">Sign out</a>
                        </div>
                    </div>
                </a>
                <a href="../Traveller/find-a-ride.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
                <a href="../Traveller/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i>Offer a Ride</a>
                <a href="#"> <span class="glyphicon glyphicon-bell" id="gicon"></span></a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <div class="container">
        <section id="banner3">
            <ul class="nav nav-tabs " style="font-size: 1.25em;
    font-weight: 700;">
                <li class="active"><a href="#past">Past Rides</a></li>
                <li><a href="#upcoming">Upcoming Rides</a></li>
            </ul>

            <div class="tab-content">
                <div id="past" class="tab-pane fade in active">
                </div>
                <div id="upcoming" class="tab-pane fade">
                </div>
            </div>
        </section>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../Traveller/ride.js"></script>
    <script>
        $(document).ready(function() {
            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
            getofferedrides();
        });
    </script>

</body>

</html>