<!DOCTYPE html>
<html lang="en">

<head>
    <title>Offered Rides</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../../images/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../../../DatePickerX-master/dist/css/DatePickerX.css">
</head>

<body>
    <header id="header">
        <div class="inner">
            <a href="../../../index.html" class="logo"><strong>FabCab</strong> </a>
                <nav id="nav">
                    <a href="../user/account.html"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>
    <div class="container">
        <section id="banner3">
            <ul class="nav nav-tabs " style="font-size: 1.25em;
    font-weight: 700;">
                <li class="active"><a href="#past">Past Rides</a></li>
                <li><a href="#upcoming">Upcoming Rides</a></li>
            </ul>

            <div class="tab-content">
                <div id="past" class="tab-pane fade in active">
                </div>
                <div id="upcoming" class="tab-pane fade">
                </div>
            </div>
        </section>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../Traveller/ride.js"></script>
    <script>
        $(document).ready(function() {
            if (!Cookies.get("user_id")){
                alert("Oops! You are not logged in.")
                location.href="../Login/login.html";
            }
            $(".nav-tabs a").click(function() {
                $(this).tab('show');
            });
            getofferedrides();
        });
    </script>

</body>

</html>