<!DOCTYPE HTML>
<html>

<head>
    <title>FabCab</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../assets/css/main.css" />
    <link rel="shortcut icon" href="../../../images/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- <link rel="stylesheet" href="DatePickerX-master/dist/css/DatePickerX.css"> -->

</head>

<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="../../../index.html" class="logo"><strong>FabCab</strong> </a>
            <nav id="nav">
                <a href="../../../index.html"> <i class="fa fa-car" aria-hidden="true"></i> Find a Ride</a>
                <a href="../Rider/offerr-ride.html"> <i class="fa fa-plus-square" aria-hidden="true"></i> Offer a Ride</a>
                <a href="login.html">Login</a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner2">
        <div class="container-fluid">
            <div class="inner">
                <header>
                    <h2>Lets Get Started</h2>
                </header>
                <br />
                <div class="row">
                    <div class="col-md-6" style="position: relative; left: 25%;">

                        <form >

                            <div>
                                <input type="email" name="user-mail" id="user-mail" placeholder="Email" required/>
                            </div>

                            <div>
                                <input type="text" name="user-name" id="user-name" placeholder="Name" required/>
                            </div>
                            <div>
                                <input type="text" name="user-mob" id="user-mob" pattern="[6789][0-9]{9}" title="Enter A Valid Mobile Number" placeholder="Mobile" required/>
                            </div>
                            <div>
                                <input type="password" name="user-pass" id="user_pass" title="Must Contain minimum 8 characters, 1 lowercase, 1 uppercase, 1 special character." 
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,20}$" placeholder="Password" required/>
                            </div>
                            <div>
                                <input type="password" name="confirm-pass" id="confirm_pass" title="The Passwords Must Be Same" placeholder="Confirm Password" required>
                            </div>
                            <div>
                                <input type="submit" name="Submit" id="submit" value="Sign Up" onclick="register()" />
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Three -->


    <!-- Scripts -->
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/skel.min.js"></script>
    <script src="../../../assets/js/util.js"></script>
    <script src="login.js"></script>
    <!-- <script src="DatePickerX-master/src/js/DatePickerX.js"></script> -->

</body>

</html>
